img {
    width: 50vw;
}

.search-bar {
    width: 500px;
}

.weather-img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.msg-img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.forecast-img {
    width: 125px;
}