.area-image {
    width: 100%;
    /* margin-left: 15%; */
    margin-bottom: 10px;
}

.weather-img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.msg-img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.forecast-img {
    width: 125px;
}

.card-body {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.area-home-btn {
    margin-top: 0px;
    margin-bottom: 20px;
}