.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    width: 70%;
    max-width: 500px;
}

.outer-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}