  .nav-link.active {
    font-weight: bold;
    color: white;
  }

  .navbar-brand {
    margin-left: 1rem;
    margin-right: 1.5rem;
    color: white;
  }

  .nav-item {
    margin-right: 0.3rem;
    color: white;
  }

  .nav-link {
    color: white;
  }

  .navbar {
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    background-color: #9e2a2b;
  }

.logo {
  height: 130px;
}

.nav-link {
  text-align: right;
  margin-right: 1rem;
}

.logo-div {
  background-color: white;
}