.outside-volunteers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.volunteers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px !important;
    text-decoration: none;
}

.volunteer-dtl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
}

.outer-volunteer-dtl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}