.or {
   width: 100%;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin-top: 10px;
   margin-bottom: 10px;
}

.or span {
   background: white;
   padding: 0 10px;
   font-size: 1rem;
}

.mokan-logo {
   width: 220px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.homepage-anon {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   max-width: 400px;
   width: 70%;
}

.outer-homepage-anon {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}

.homepage-user {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   max-width: 1000px;
   width: 80%;
}

.outer-homepage-user {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 2rem;
   margin-bottom: 1rem;
}