.sv-string-viewer {
    color: black;
}

.sv-components-column, .sv-components-column--expandable {
    background-color: #d4d4d4;
}

.sd-title.sd-container-modern__title {
    background-color: #d4d4d4;
}

.sd-element {
    background-color: white;
}
.sd-question__required-text {
    color: black;
}

.sd-completedpage {
    background-color: #d4d4d4;
}

.sv-svg-icon {
    background-color: white;
}

.surveys {
    width: 125px;
    height: 125px;
}
