body {
  background-color: #d4d4d4;
  font-family: "Space mono", sans-serif;
  font-optical-sizing: auto;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-color: white;
  border-radius: 12px;
  padding: 10px 30px 20px 30px;
  /* margin: 0px 20px 0px 20px; */
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  max-width: 400px;
}


.heading {
  color: black;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  text-align: center;
}

.subheading {
  color: black;
}


form {
  background-color: white;
  width: 100%;
}

.form-control {
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: black;
}

.btn, .sd-btn {
  background-color: #9e2a2b;
  border-color: #9e2a2b;
  border-width: 3px;
  border-style: solid;
  color: white;
  margin-top: 5px;
  width: 100%;
}

.btn:hover, .sd-btn:hover {
  border-color: black;
  border-width: 3px;
  background-color: #9e2a2b;
  color: white;
}

.btn:active, .sd-btn:active {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
}
