.dog {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px 30px 20px 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 150px !important;
}

.dog-dtls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding: 10px 30px 20px 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    color: black;
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
}

.outer-dog-dtls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.top-dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.bottom-dogs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}

.outer-dogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

