.form-control {
    height: 42px;
    margin-top: 10px;
    border-color: lightgray;
}

.btn {
    background-color: #588157;
    border-color: #588157;
    border-width: 3px;
    color: black;
    margin-top: 5px;
    width: 100%;
}

h3 {
    color: #344e41
}

.btn:hover {
      border-color: #1B4332;
      border-width: 3px;
      background-color: #588157;
      color: black;
      
}

.btn:focus {
    border-color: #1B4332;
}

form {
    background-color: #ccd5ae;
}

.login {
    margin-top: 10px;
}

label {
    margin-top: 7px;
    margin-left: 3px;
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}