.form-control {
    height: 42px;
    margin-top: 10px;
    border-color: lightgray;
}

.btn {
    background-color: #cddafd;
    border-color:  #cddafd;
    border-width: 3px;
    color: black;
    margin-top: 5px;
    width: 100%;
}

h3 {
    color: #344e41
}

.btn:hover {
      border-color: #cddafd;
      border-width: 3px;
      background-color: #cddafd;
      color: black;   
}

form {
    background-color: #9f86c0;
}

.btn:active {
    border-color: #5e548e !important;
    background-color: #cddafd !important;
}


.login {
    margin-top: 10px;
}

label {
    margin-top: 7px;
    margin-left: 3px;
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}